<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            color: #333;
        }

        h1 {
            color: #007BFF;
        }
    </style>
</head>

<body>

    <header>
        <h1>Contact Us</h1>
    </header>

    <section>
        <p>If you have any questions or need assistance, please feel free to reach out to us. Your feedback is valuable to
            us, and we'll do our best to respond promptly.</p>
        
        <p>Email: dileepkaniganti234&#64;gmail.com</p>

        <p>Phone: +91-6302823636 </p>

        <p>Address: Sr nagar Main Street, HYDERABAD, TS - State, 500038</p>
    </section>

</body>

</html>
